{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="scroll">
        <div class="first__block">
            <h1>first block</h1>
        </div>
         <div class="second__block">
            <h1>second block</h1>
        </div>
         <div class="third__block">
            <h1>3 block</h1>
        </div>
         <div class="first__block">
            <h1>first block</h1>
        </div>
         <div class="second__block">
            <h1>second block</h1>
        </div>
         <div class="third__block">
            <h1>3 block</h1>
        </div>
    </div>
   
    <button id="btnScr">
        <img src="/svg/scroll.svg" alt="scroll">
    </button>
  
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}