{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="nav">
        <div class="nav__item">
            <button class="btn" id="back">
                <img src="/svg/back.svg" alt="back">
            </button>
            <button class="btn" id="forward">
                <img src="/svg/forward.svg" alt="forward">
            </button>
            <button class="btn" id="reload">
                <img src="/svg/reload.svg" alt="reload">
            </button>
            <button class="btn" id="home">
                <img src="/svg/home.svg" alt="home">
            </button>
            <input class="nav__input" type="text" id="input">
            <button class="btn" id="play">
                <img src="/svg/play.svg" alt="play">
            </button>

        </div>
    </div>
   
  
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}